<ion-view title="Kapow" id="page8" class=" ">
    <ion-content padding="true" class="has-header">

      <h5>Hours: 10am-7pm</h5>
        <p id="kapow-markdown1" style="color:#000000;font-size:14px;" class=" "><h1>Menu:</h1>
<h2>Our Famous Rice Bowls</h2>
  <ul>
    <li>Huli Huli Bowl (Hawaiian Chicken)</li>
    <li>Seoul  Bowl (Bulgogi style steak)</li>
    <li>Thai Curry (Gluten Free)</li>
    <li>Peking Duck</li>
    <li>Honey Chicken</li>
  </ul>
<h2>Not your average Tacos</h2>
  <ul>
    <li>Delaware's Original the Kimchi Taco</li>
    <li>Duckos</li>
    <li>Flying Hawaiian</li>
</ul>
<h2>Golden Fried Kapow Klassics</h2>
  <ul>
    <li>Kapow Rolls</li>
    <li>Thai Guy's Wings</li>
    <li>Thai Ta-tas</li>
    <li>Thai Fried Chicken</li>
  </ul>
</p><button id="kapow-button5" class="button button-positive  button-block ">Take me there!</button>
    </ion-content>
</ion-view>
