<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Scheduled Tweets Tab -->
  <ion-tab title=" " icon-off=" " icon-on=" " href="#/tab/login">
    <ion-nav-view name="login"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Vendors" icon-off="icon ion-ios-search" icon-on="icon ion-ios-search-strong" href="#/tab/vendors">
    <ion-nav-view name="vendors"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title=" " icon-off=" " icon-on=" " href="#/tab/kapow">
    <ion-nav-view name="kapow"></ion-nav-view>
  </ion-tab>
</ion-tabs>
